__pycache__/
*.py[cod]
*.ipynb_checkpoints

# sec
.env
secrets.json
config.yaml
launch.json

# venv
.venv/
venv/
env/

# data
Data/GDDiK_data/
data/processed/

# sample data
!data/sample/*.csv
!data/sample/*.json
!data/sample/*.xml

# IDE
.vscode/
.idea/
.DS_Store

# Logs&temps
/logs/
*.log
*.tmp